<div class="jumbotron center">
	<h1>About us</h1>
	<p>Read-fun is a place to help you to read more.</p>
	<p class="left">
		By gamifiy the reading experience, you will find reading is fun and you actually could ready more than before.  Give it a shot and you will see the difference.
	</p>
</div>